<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Aplikaciji je potreban pristup kameri za skeniranje nutritivne deklaracije.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Aplikaciji je potreban pristup fotografijama kako biste dodali progress slike.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Koristi FaceID za brzu prijavu u aplikaciju.</string>
</dict>
</plist>
